.Input {
    // position: relative;
    &-group {
        // width: 100%;
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        display: flex;
        align-items: center;

        .Input-icon {
            display: flex;
            align-items: center;
        }

        .Input-control {
            // width: 100%;
            border-top-style: hidden;
            border-right-style: hidden;
            border-bottom-style: hidden;

            border-left: 1px solid #E0E0E0;
            height: 20px;
            font-size: 14px;
            font-weight: 400;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #828282;
            }
        }
    }

    &-text {
        // width: 100%;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 13.65px;

        background: #FFFFFF;
        border: 1px solid #BDBDBD;

        border-radius: 3px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #828282;
        }
    }

    &.middle {
        .Input-text {
            height: 40px;
        }

        .Input-group {
            height: 50px;
            padding: 16px;
            border: 1px solid #BDBDBD;

            .Input-icon {
                padding-right: 12px;
            }

            .Input-control {
                padding-left: 16px;
            }
        }
    }

    &.small {
        .Input-group {
            border-radius: 4px;
            // box-shadow: 0px 4px 15px rgba(103, 77, 7, 0.04);
            height: 40px;
            padding: 13px;

            .Input-icon {
                padding-right: 8px;
            }

            .Input-control {
                padding-left: 10px;
            }
        }
    }

}