.font-select-option {
    font-weight: 400;
    font-size: 14px;
}

.border-radius-1 {
    border-radius: 4px;
}

.border-gray {
    border: 1px solid #BDBDBD;
}

$color-gray: #828282;
$color-white: #FFFFFF;
$color-yellow: #C38B20;
$color-black: #000000;

.select {
    .select-current {
        cursor: pointer;
        border: 1px solid #BDBDBD;

        p {
            margin: 0;
            padding-top: 11px;
            padding-left: 10px;
            padding-bottom: 13px;
        }

        img {
            margin-right: 5px;
        }

        &:hover {
            color: $color-yellow;
        }
    }

    .select-option {
        display: none;
        cursor: pointer;
        border-left: 1px solid #BDBDBD;
        border-right: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;

        .select-option-list {
            p {
                margin: 0;
                padding-top: 5px;
                padding-left: 10px;
                padding-bottom: 5px;
            }

            img {
                margin-right: 5px;
            }

            &:hover {
                color: $color-white;
                background: blue;
            }
        }

        &.active {
            display: block;
        }
    }

    &.select-hasIcon {
        .select-current {
            i {
                margin-top: 13px;
                margin-left: 14px;
                margin-bottom: 13px;
                border-right: 1px solid #E0E0E0;
            }
        }

        .select-option {
            &-list {
                i {
                    margin-top: 13px;
                    margin-left: 14px;
                    margin-bottom: 13px;
                    border-right: 1px solid #E0E0E0;
                }
            }
        }
    }
}