.HomeBanner {
  .owl-stage {
    @media (min-width: 992px) {
      margin-left: -1px;
    }
  }

  &-item {
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-wrapper {
    &-item {
      &:first-child {
        margin-bottom: 16px;

        @media (max-width: 991px) {
          .HomeBanner-item {
            border-radius: 0;
          }
        }
      }
    }
  }
}