extends includes/layouts/Layout.pug

block pages
   .container 
        .row
            .col-lg-4 
                   +cardComponent({
                           className:'borderImage mt-5',
                           borderImage: true,
                           
                           title:'(Sin hair) Dầu gội màu nâu',
                           
                            price: 350000,
                            prices : '4.9',
                           
                           src: './assets/images/image1.png'
                       })
            .col-lg-4
                 +cardComponent({
                                className:'borderCard mt-5',
                                borderCard: true,
                                
                                title:'(Sin hair) Dầu gội màu nâu',
                                desc: 'Khách Hàng',   
                                
                                src: './assets/images/image2.png'
                            })
      
            
            .col-lg-4 
                   
                +cardComponent({
                                className:' mt-5 ',
                               
                                
                                title:'Fix là gì? Fix giá là gì? Fix trong mua bán có ý nghĩa gì?',
                                desc: 'Fix là gì? Thế nào là Fix giá và nó có ý nghĩa gì trong mua bán? Chúng ta hãy cùng đi tìm hiểu qua bài viết sau nhé!',     
                                
                                src: './assets/images/image3.png'
                            })
                         
              
                       
                   
               
                      
                