extends includes/layouts/Layout.pug 

block pages
 +buttonComponent({icoFont:'true',classIco:'fa-heart' ,classCustom:'text-uppercase font-weight-bold text-white  ',className:'bg-brown btn-icons ',size:'btn-l',title:'đăng ký'})
 
 +buttonComponent({ classCustom:'text-uppercase font-weight-medium text-white  ',className:'bg-black br-4 ',size:'btn-md',title:'tham gia ngay'})
 +buttonComponent({icoFont:'true',classIco:'fa-heart' ,classCustom:'text-uppercase font-weight-bold text-white  ',className:'bg-brown btn-icons reverse-ico ',size:'btn-l',title:'đăng ký'})