doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Trung tâm Thông tin - Thư Viện Đai Học Kinh Tế Quốc Dân
		block head

		//- CSS
		link(rel="stylesheet" type="text/css" href="./assets/css/main.css")

		//- Favicon
		link(rel="icon" type="image/png" href="./assets/images/favicon-neu.svg")


	body
		block pages

		script(src="./assets/js/main.js")